body {
    background-color: #e4dbdb;
    font-family: sans-serif;
}

.ingredient {
    color: black;
}
.header {
    text-align: center;
    font-size: 4rem;
    color: white;
    font-family: monospace;
    margin-bottom: 0;
}
.return_home {
    text-align: center;
    font-family: monospace;
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1rem;
}

.return_home a {
    text-decoration: none;
    color: black;

}

.recipe_title {
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    width: 100% ;
    margin-bottom: 0.5rem;
}

img {
    max-width: auto;
    height: 100%;
    max-height: 40rem;
    border-radius: 3rem;
    display: block;
    margin-left: 20vh;
    margin-top: 2rem;
    margin-right: 5rem;
    justify-content: left;
    align-items: left;
    border:0.2rem black groove;
}

.recipe_card {
    display: flex;
    background: #fff;
    opacity: 1rem;
    margin: 3rem auto;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 2rem;

}

.yields {
    margin: 0.5rem;
    justify-content: right;
    text-align: center;
    font-size: 0.8rem;
    height: 1rem;
    width: 100%;

}

.ingredient_label {
    width: 40%;
    height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

ul {
    margin-top: 1rem;
    margin-left: 10vh;
    height: auto;
    width: 30%;
}

li {
    padding: 0.4rem;
    margin-left: 1rem;
}


